@page
@model SecondChanceParts.Web.Pages.CartItems.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ShoppingCartItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShoppingCartItem.ShoppingCartId" class="control-label"></label>
                <select asp-for="ShoppingCartItem.ShoppingCartId" class ="form-control" asp-items="ViewBag.ShoppingCartId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ShoppingCartItem.PartId" class="control-label"></label>
                <select asp-for="ShoppingCartItem.PartId" class ="form-control" asp-items="ViewBag.PartId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ShoppingCartItem.ItemCount" class="control-label"></label>
                <input asp-for="ShoppingCartItem.ItemCount" class="form-control" />
                <span asp-validation-for="ShoppingCartItem.ItemCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
